*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.header {
    display: flex;
    height: 10vh;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #474747;
    border-radius: 5px;
}

.header > div{
    background-color: yellow;
    border-radius: 10px;
    width: 50vh;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 4vh;
}
.header .header > div{
    background-color :#474747 ;
    color:white;

}