
*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

main {
    display: grid;

    grid-template-areas:
    "topbar"
    "content"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5vh;
    
}

header {
    grid-area: topbar;
    color:white;
    background-color: grey;
}

.headerContainer{
    display: flex;
    width: 100% ;
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.headerButtons {
    background-color: yellow;
    width: 20vh;
    height: 10vh;
    text-align: center;
    border-radius: 5px;
}

article {
    grid-area: content;
    color:white;
}

footer {
    grid-area: footer;
    color:white;
}